@import "./vendor/bootstrap/less/bootstrap";

body {
  padding-top: 50px;
}

.navbar {
  .navbar-right {
    margin-right: 0;
  }
}

.connection-status {
  &.disconnected {
    color: @brand-danger;
  }
}
